<% data.forEach(async (i, index) => { %>
	<div class="row">
		<div class="list-group col-4">
		  <div class="list-group-item">
			  <div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">Post</h5>
			  </div>
			  <p class="mb-1">Total entities</p>
			  <small><%= i.Post %></small>
		  </div>
		</div>
		<div class="list-group col-4">
		  <div class="list-group-item">
			  <div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">Visitor</h5>
			  </div>
			  <p class="mb-1">Total entities</p>
			  <small><%= i.Visitor %></small>
		  </div>
		</div>
		<div class="list-group col-4">
		  <div class="list-group-item">
			  <div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">Reader</h5>
			  </div>
			  <p class="mb-1">Total entities</p>
			  <small><%= i.Reader %></small>
		  </div>
		</div>
	</div>
<% }) %>